@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: inherit;
}

body {
	font-family: "Noto Sans", sans-serif;
	font-size: 16px;

	
	background-image: url(./image/back.png);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
/* Общие стили для кнопок */
.category-btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #314586; /* Синий цвет кнопки */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Эффект при наведении */
.category-btn:hover {
    background-color: #6264d7; /* Темнее синий */
    transform: scale(1.05); /* Увеличение кнопки */
}

.quiz {
	position: relative;
	padding: 2rem 2rem calc(2rem + 70px);

	background-color: #eaeaea;
	border-radius: 50px;
	box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
	width: 500px;
	overflow: hidden;
}

.title{
	font-size: 1.5rem;
	padding: 1rem 0;
	text-align: center;
	margin: 0;
}

.summary {
	text-align: center;
	margin: 0.5rem 0 1rem;
	font-size: 1.2rem;
	font-weight: 400;
}

.result {
	text-align: center;
	font-size: 1.2rem;
	font-weight: 700;
}
.answer-image {
    max-width: 100px;
    max-height: 100px;
    margin: 10px 0;
    display: block;
    object-fit: cover;
}

.quiz-list {
	list-style-type: none;
	padding: 0;
}

.quiz-list li {
	font-size: 1.2rem;
}

.quiz-list label {
	cursor: pointer;
	width: 100%;
    display: block;
	padding: 1rem 0.5rem;
}

.quiz-list label:hover {
	background-color: rgb(235, 245, 248);
}

.quiz-list label.disabled {
	cursor: no-drop;
}

.quiz-list label.disabled:hover {
	cursor: no-drop;
	background-color: transparent;
}

.quiz-submit {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 70px;
	line-height: 70px;
}

.submit {
	background-color: #314586;
	color: #fff;
	border: none;
	display: block;
	width: 100%;
	cursor: pointer;
	font-size: 1.1rem;
	font-family: inherit;

}

.submit:hover {
	background-color: #6264d7;
}


@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}
	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}
	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}
